<div class="article article_index">
  
  <div class="container">

    <div class="article__top">
      <h1>掲示板</h1>
      <h2>悩みまでは行かないけれど、他の人の意見や考え方も聞いてみたい、素朴な疑問など質問してみましょう。</h2>
    </div>

    <% @article.each do |article| %>
      
      <%= link_to show_articles_path(article.id) do %>

        <div class="article__list">

          <div class="title">
            <%= article.title %>
          </div>

          <div class="category">
            <%= article.category %>
          </div>
          
          <div class="content">
            <%= article.content %>
          </div>

        </div>

      <% end %>

    <% end %>

  </div>

</div>