<div class="container">

	<h1>プロフィール一覧</h1>

	<% @prof.each do |profile| %>
	  <div>
	    <%= profile.user.email %>
	  </div>
	<% end %>
	<%= link_to "edit", profile_path %>


	<p>this is my name</p>
	<p><%= current_user.profile.name %></p>

</div>
