

<div class="prof__topimage">


<div class="container">

	<div class="prif_show">

		<%= image_tag(@profile.prof_image_url) if @profile.prof_image.present? %>

	
	  <div>
	    <%= @profile.name %>
	  </div>

	  <div>
	    <%= @profile.age %>
	  </div>

	</div>
	

</div>
